<%= simple_form_for(@announcement) do |f| %>
	<fieldset>
		<%= f.input :starts_at %>
		<%= f.input :ends_before %>
		<%= f.input :locale %>
		<%= f.input :message, input_html: {class: "span12"} %>
		<%= f.input :level, :as => :select, :include_blank => "Select level...", :collection => ['success', 'info', 'warning', 'error'], :input_html => {:class => "span4"} %>

		<div class="form-actions">
			<%= f.button :submit, :class => "btn-primary", :value => t('button.save') %>
			<%= link_to t('button.cancel'), :back, :class => "btn" %>
		</div>
	</fieldset>
<% end %>
