<td><%= announcement.starts_at %></td>
<td><%= announcement.ends_before %></td>
<td><%= announcement.locale %></td>
<td class="alert alert-<%= announcement.level %>"><%= announcement.message %></div></td>
<td><%= announcement.level %></td>
