<%= render 'shared/index_header', name: Announcement.model_name.human %>
<table class="table table-condensed table-bordered">
	<thead>
	<tr>
		<%= thsortable 'starts_at', t('.starts_at') %>
		<%= thsortable 'ends_before', t('.ends_before') %>
		<%= thsortable 'locale', t('.locale') %>
		<%= thsortable 'message', t('.message') %>
		<%= thsortable 'level', t('.level') %>
		<th><i class="icon-flag"></i></th>
	</tr>
	</thead>
	<tbody>
	<% @announcements.each do |announcement| %>
		<tr>
			<%= render 'row', :announcement => announcement %>
			<td>
				<span>
				<%= link_to t(:'button.show'), announcement_path(announcement), :class => "btn btn-mini" %>
				<%= link_to t(:'button.edit'), edit_announcement_path(announcement), :class => "btn btn-mini" %>
				</span>
				<span class="pull-right">
				<%= link_to t(:'button.destroy'), announcement, :class => "btn btn-danger btn-mini", confirm: 'Are you sure?', method: :delete %>
				</span>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>
<%= link_to t(:'button.add'), new_announcement_path, :class => "btn btn-mini btn-success" %>
