<td><%= user.email %></td>
<td><%= user.first_name %></td>
<td><%= user.last_name %></td>
<td><%= user.gender %></td>
<td><%= user.phone %>
<td><%= user.mobile %>
<td><%= user.im %>
<td><%= raw(checkmark(user.is_admin)) %>
