<%= render 'shared/index_header', name: User.model_name.human %>
<table id="users" class="table table-striped table-bordered table-condensed">
	<thead>
	<tr>
		<%= thsortable 'email' %>
		<%= thsortable 'first_name', t('.first_name') %>
		<%= thsortable 'last_name', t('.last_name') %>
		<%= thsortable 'gender', t('.gender') %>
		<%= thsortable 'phone', t('.phone') %>
		<%= thsortable 'mobile', t('.mobile') %>
		<%= thsortable 'im', t('.im') %>
		<%= thsortable 'is_admin', t('.is_admin') %>

		<th><i class="icon-flag"></i></th>
	</tr>
	</thead>
	<tbody>
	<% @users.each do |user| %>
		<tr>
			<%= render 'row', :user => user %>
			<td>
				<span>
					<%#= link_to 'Invite', invite_user_path(user), class: 'btn btn-mini' %>
					<%= link_to t(:'button.show'), user_path(user), :class => "btn btn-mini" %>
					<%= link_to t(:'button.edit'), edit_user_path(user), :class => "btn btn-mini" %>
				</span>
				<span class="pull-right">
					<%= link_to t(:'button.destroy'), user_path(user), :class => "btn btn-mini btn-danger flush_right", :method => :delete, :confirm => "Are you sure?" %>
				</span>
			</td>
		</tr>
		</a>
	<% end %>
	</tbody>
</table>

<%=  link_to 'Add', new_user_path, class: 'btn btn-primary' %>

<%= paginate @users %>
