<p class="lead"><%= @user %></p>

<table class="table table-striped table-bordered table-condensed">
	<thead>
		<th width="15%"><%= t('thead.item') %></th>
		<th><%= t('thead.value') %></th>
	</thead>
	<tbody>
		<tr><td>#</td><td><%= @user.id %></td></tr>
		<tr><td>Email</td><td><%= @user.email %></td></tr>
		<tr><td>Name</td><td><%= @user %></td></tr>
		<tr><td>Gender</td><td><%= @user.gender %></td></tr>
		<tr><td>Phone</td><td><%= @user.phone %></td></tr>
		<tr><td>Mobile</td><td><%= @user.mobile %></td></tr>
		<tr><td>IM</td><td><%= @user.im %></td></tr>
	</tbody>
</table>

<%= link_to t(:'button.back_to_list'), users_path, class: "btn" %>
