<%= render 'shared/show_header', name: User.model_name.human %>
<table class="table table-striped table-bordered table-condensed">
	<%= render 'shared/show_thead' %>
	<tbody>
		<tr><td><%= t('.email') %></td><td><%= @user.email %></td></tr>
		<tr><td><%= t('.full_name') %></td><td><%= @user %></td></tr>
		<tr><td><%= t('.gender') %></td><td><%= @user.gender %></td></tr>
		<tr><td><%= t('.phone') %></td><td><%= @user.phone %></td></tr>
		<tr><td><%= t('.mobile') %></td><td><%= @user.mobile %></td></tr>
		<tr><td><%= t('.im') %></td><td><%= @user.im %></td></tr>
		<tr><td><%= t('.is_admin') %></td><td><%= raw(checkmark(@user.is_admin)) %></td></tr>
	</tbody>
</table>

<%= link_to t(:'button.back_to_list'), users_path, class: "btn" %>
