<%= render 'shared/show_header', name: Book.model_name.human %>
<table class="table table-striped table-bordered table-condensed">
	<%= render 'shared/show_thead' %>
	<tbody>
	<tr><td><%= t('.author') %></td><td><%= @book.author %></td></tr>
	<tr><td><%= t('.title') %></td><td><%= @book.title %></td></tr>
	<tr><td><%= t('.preview') %></td><td><a class="btn btn-mini" href="<%= @book.preview %>" target="_blank">Preview</a></td></tr>
	<tr><td><%= t('.thumbnail') %></td><td><img src="<%= @book.thumbnail %>"/></td></tr>
	</tbody>
</table>
<%= link_to t(:'button.back_to_list'), books_path, class: "btn" %>
