<% if user_signed_in? && current_user.admin? %>
	<ul class="nav pull-right">
		<li class="dropdown">
			<a class="dropdown-toggle" id="adminemenudd" role="button" data-toggle="dropdown" data-target="#" title="<%= t('.admin') %>" href="#"><%= t('.admin') %><b class="caret"></b></a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="adminemenudd">
				<li><%= link_to t('.announcements'), announcements_path %></li>
				<li><%= link_to t('.contacts'),      contacts_path %></li>
				<li class="divider"></li>
				<li><%= link_to t('.administrations'), administrations_path %></li>
				<li><%= link_to t('.users'),           users_path %></li>
			</ul>
		</li>
	</ul>
<% end %>

