<% if user_signed_in? %>
	<% if @administration %>
		<ul class="nav">
			<li class="dropdown">
				<a class="dropdown-toggle" id="administrationmenudd" role="button" data-toggle="dropdown" data-target="#" title="<%= @administration %>" href="#"><%= @administration %><b class="caret"></b></a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="administrationmenudd">
					<li><%= link_to t('.bookyears'), administration_bookyears_path(@administration) %></li>
					<li><%= link_to t('.journals'), administration_journals_path(@administration) %></li>
					<li><%= link_to t('.ledgers'), administration_ledgers_path(@administration) %></li>
					<li><%= link_to t('.pieces'), administration_pieces_path(@administration) %></li>
					<li><%= link_to t('.units'), administration_units_path(@administration) %></li>
				</ul>
			</li>
		</ul>
	<% end %>
<% end %>